
$m-01: #005295;
$m-02: #2196f3;
$m-03: #66b8fb;
$m-04: #a8d8ff;
$m-05: #bf80a9;


@use '../../../colors' as color;


.content {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top:-20px ;
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
p{
    width: 200px;
}
    .planet {
        width: 65%;
        height: 65%;
        background-color: $m-02;
        border-radius: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        transform-origin: center center;
        box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
        animation: planet 5s ease infinite alternate;

        @keyframes planet {
            0% {
                transform: rotate(10deg);
            }

            100% {
                transform: rotate(-10deg);
            }
        }

        /* planet ring */
        .ring {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: $m-04;
            display: flex;
            align-items: center;
            justify-content: center;
            transform-origin: 33% center;
            box-shadow: .4px -2px 0px rgba(0, 0, 0, 0.1),
                inset -1px -0px 0px rgba(0, 0, 0, 0.1);
            animation: ring 3s ease infinite;

            @keyframes ring {
                0% {
                    transform: rotateX(110deg) rotateZ(0deg) translate(-10px, 1px);
                }

                100% {
                    transform: rotateX(110deg) rotateZ(360deg) translate(-10px, 1px);
                }
            }

            /* small ball */
            &:before {
                content: "";
                position: absolute;
                width: 2px;
                height: 6px;
                border-radius: 100%;
                background-color: $m-03;
                z-index: 2;
                left: calc(0px - 5px);
                box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.2);
            }

            /* inner ring */
            &:after {
                content: "";
                position: absolute;
                width: 48px;
                height: 48px;
                border-radius: 100%;
                background-color: $m-03;
                box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
            }
        }

        /* to cover the back of the ring */
        .cover-ring {
            position: absolute;
            width: 100%;
            height: 50%;
            border-bottom-left-radius: 280%;
            border-bottom-right-radius: 280%;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            transform: translate(0px, -5px);
            background-color: $m-02;
            z-index: 2;
            box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
        }

        /* planet spots */
        .spots {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 2;

            span {
                width: 6px;
                height: 6px;
                background-color: $m-01;
                position: absolute;
                border-radius: 100%;
                box-shadow: inset -2px 3px 0px rgba(0, 0, 0, 0.3);
                animation: dots 5s ease infinite alternate;

                @keyframes dots {
                    0% {
                        box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
                    }

                    100% {
                        box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
                    }
                }

                &:nth-child(1) {
                    top: 4px;
                    right: 10px;
                }

                &:nth-child(2) {
                    top: 8px;
                    left: 10px;
                    width: 3px;
                    height: 3px;
                }

                &:nth-child(3) {
                    top: 16px;
                    left: 4px;
                    width: 5px;
                    height: 5px;
                }

                &:nth-child(4) {
                    top: 16px;
                    left: 18px;
                    width: 8px;
                    height: 8px;
                }

                &:nth-child(5) {
                    top: 32px;
                    left: 14px;
                    width: 3px;
                    height: 3px;
                }

                &:nth-child(6) {
                    top: 33px;
                    left: 25px;
                    width: 2px;
                    height: 2px;
                }

                &:nth-child(7) {
                    top: 18px;
                    left: 30px;
                    width: 3px;
                    height: 3px;
                }
            }
        }
    }

    p {
        color: #4a4a4a;
        font-size: 15px;
        z-index: 2;
        position: absolute;
        bottom: -16px;
        animation: text 4s ease infinite;
        text-align: center;

        @keyframes text {
            0% {
                transform: translateX(-30px);
                letter-spacing: 0px;
                color: #4a4a4a;
            }

            25% {
                letter-spacing: 3px;
                color: #929292;
            }

            50% {
                transform: translateX(30px);
                letter-spacing: 0px;
                color: #4a4a4a;
            }

            75% {
                letter-spacing: 3px;
                color: #929292;
            }

            100% {
                transform: translateX(-30px);
                letter-spacing: 0px;
                color: #4a4a4a;
            }
        }
    }
}






@media (max-width: 753px) {
    .content {
     
        margin-top:0px ;
    }
}

