@use '../../colors' as color;

.next-btn {
    background-color: color.$blue;
    color: color.$white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    width: 100%;
   max-width: 502px;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 20px;
}


