@use '../../colors' as color;

.ticketlist {
    width: 502px;
}

@media (max-width: 753px) {
    .ticketlist {
        width: 100%;
        max-width: 502px;
    }
}

.no-find {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}
