@use '../../colors' as color;

.segment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;

    dl {
        margin-bottom: 10px;
    }
    dt {
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: color.$light-grey;
    }
    dd {
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
        color: color.$dark-grey;
    }
}
